.contentCard__box {
  display: flex;
  gap: 12px;
  position: relative;
  width: 100%;
  color: var(--mainTextColor);
}

.postCard__reposted {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: -30px;
  left: 10px;
  padding: 5px;
  color: var(--textColorSecondary);
  font-size: 18px;
}

.userPopupDataAuthor {
  max-width: 210px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (width < 350px) {
    max-width: 190px;
  }
}

.postCard__repostedUserData {
  display: none;
}

.postCard__reposted:hover .postCard__repostedUserData {
  display: block;
  color: var(--textColorSecondary);
}

.contentCard__userScreensaver {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  &--template {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--reverseTextColor);
    text-transform: uppercase;
  }

  @media (width < 500px) {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }
}

.contentCard__imgWrapper--line {
  position: relative;

  &::after {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 50%;
    width: 2px;
    min-height: calc(100% - 50px);
    background-color: var(--textColorSecondary);
    content: '';
    opacity: .2;
  }
}

.contentCard__textDecoration {
  text-decoration: none;
}

.contentCard__info {
  position: relative;
  width: 100%;
}

.contentCard__infoWrapper {
  text-decoration: none;
}

.contentCard__imgPost {
  width: 100%;
  max-height: 270px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.btnOpenPopup__wrapper {
  position: absolute;
  top: -4px;
  right: -4px;
}

.contentCard__infoHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  font-size: 15px;

  @media (width < 500px) {
    font-size: 13px;
  }
}

.contentCard__btnWrapper {
  flex-grow: 1;
}

.contentCard__userName {
  margin-right: 10px;
  color: var(--mainTextColor);
  font-family: 'Roboto-Bold';
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contentCard__postDate {
  color: var(--textColorSecondary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (width < 600px) {
    font-size: 12px;
  }
}

.contentCard__userLogin {
  position: relative;
  margin-right: 13px;
  color: var(--textColorSecondary);

  &::after {
    position: absolute;
    top: -4px;
    margin: 0 5px;
    color: var(--textColorSecondary);
    font-weight: 900;
    content: '.';
  }

  @media (width < 600px) {
    max-width: 160px;
    margin-right: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @media (width < 500px) {
    max-width: 120px;
  }
}

.contentCard__text {
  max-width: 510px;
  margin: 0 0 15px;
  color: var(--mainTextColor);
  font-size: 15px;
  word-wrap: break-word;

  @media (width < 500px) {
    font-size: 13px;
  }
}