.contentCard__box {
  display: flex;
  gap: 12px;
  width: 100%;
  color: var(--mainTextColor);
}

.contentCard__userScreensaver {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  &--template {
    min-width: 40px;
    min-height: 40px;
    background-color: var(--backgroundHoverColor);
  }
}

.contentCard__imgWrapper--line {
  position: relative;

  &::after {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 50%;
    width: 2px;
    min-height: calc(100% - 50px);
    background-color: var(--textColorSecondary);
    content: '';
    opacity: .2;
  }
}

.contentCard__info {
  width: 100%;
}

.contentCard__infoWrapper {
  text-decoration: none;
}

.contentCard__imgPost {
  width: 100%;
  max-height: 270px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;

  &--template {
    height: 270px;
    border-radius: 20px;
    background-color: var(--backgroundHoverColor);
  }
}

.contentCard__infoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.contentCard__btnWrapper {
  flex-grow: 1;
}

.contentCard__userName {
  margin-right: 10px;
  color: var(--mainTextColor);
  font-family: 'Roboto-Bold';
  text-decoration: none;
}

.contentCard__postDate {
  color: var(--textColorSecondary);
}

.contentCard__userLogin {
  position: relative;
  margin-right: 13px;
  color: var(--textColorSecondary);

  &::after {
    position: absolute;
    top: -4px;
    margin: 0 5px;
    color: var(--textColorSecondary);
    font-weight: 900;
    content: '.';
  }
}

.contentCard__text {
  margin: 0 0 15px;
  color: var(--mainTextColor);
  font-size: 15px;
}