.userCardWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 12px 16px;
  transition: background-color 250ms linear;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: var(--backgroundHoverColor);
  }
}

.userCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  text-decoration: none;
}

.userCard__img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  background-color: var(--backgroundHoverColor);
}

.userCard__dataWrapper {
  flex-grow: 1;
}

.userCard__name {
  color: var(--mainTextColor);
  font-family: 'Roboto-Bold';
  font-size: 15px;
}

.userCard__login {
  color: var(--textColorSecondary);
  font-size: 15px;

  &--marker {
    margin-left: 4px;
    padding: 2px 4px;
    border-radius: 6px;
    background-color: var(--backgroundHoverColor);
    font-size: 10px;
  }
}

.userCard__bio {
  margin-top: 5px;
  color: var(--mainTextColor);
  font-size: 15px;
}

.userCard__btn,
.userCard__btn--reverse {
  position: absolute;
  top: 8px;
  right: 10px;
  min-width: 100px;
  height: 32px;
  padding: 0 16px;
  transition: background-color 250ms linear;
  border: 1px solid rgba(255, 0, 0, .5);
  border-radius: 20px;
  outline: none;
  background-color: rgba(255, 0, 0, .1);
  color: var(--mainTitleColor);
  font-family: 'Roboto-Medium';
  font-size: 14px;
  cursor: pointer;

  &:active {
    transform: scale(1.02);
  }
}

.userCard__btn--reverse {
  border: 1px solid var(--borderColor);
  background-color: transparent;
  color: var(--mainTextColor);
}