.locationSelector__wrapper {
  display: flex;
  gap: 6px;

  @media (width < 500px) {
    flex-direction: column;
  }
}

.locationField__wrapper {
  position: relative;
}

.locationLabel {
  position: absolute;
  top: 13px;
  left: 10px;
  color: var(--textColorSecondary);
  font-size: 13px;
  opacity: .6;
}

.locationSelector__fieldStyle {
  width: calc(100% - 4px);
  min-width: 160px;
  margin: 12px 2px;
  padding: 20px 8px 4px;
  border: 1px solid var(--backgroundHoverColor);
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: var(--mainTextColor);
  font-size: 17px;

  &:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px var(--accentColorBg);
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: var(--mainTextColor);
    -webkit-box-shadow: 0 0 0 50px var(--backgroundColor) inset;
  }
}