.notification-empty {
  &__content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
  }

  &__title {
    font-size: 31px;
  }

  &__text {
    font-size: 15px;
    color: var(--textColorSecondary);

    & a {
      color: var(--mainTextColor);
      text-decoration: underline;
      font-weight: 900;
    }
  }
}
