.post-selector-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--backgroundHoverColor);
}

.post-selector__btn {
  width: 50%;
  padding: 15px 0;
  border: none;
  background-color: transparent;
  color: var(--mainTextColor);
  font-family: 'Roboto-Bold';
  cursor: pointer;

  &:hover {
    background-color: var(--backgroundHoverColor);
  }
}

.activeTab {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 3px;
    transform: translateX(-50%);
    border-radius: 3px;
    background-color: var(--accentColorBg);
    content: '';
  }
}