.postCard__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 16px 0 0;
}

.postCard__iconBtn {
  display: flex;
  align-items: center;
  padding: 4px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColorSecondary);
  font-size: 18px;
  cursor: pointer;

  &--big {
    font-size: 22px;
  }
}


.postCard__stats {
  margin-left: 5px;
  font-size: 13px;
  vertical-align: middle;
}