.sectionSearching {
  flex-grow: 1;
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  box-shadow: 0 0 10px var(--boxShadowColor), 0 0 1px 1px var(--boxShadowColor);

  @media (width < 1030px) {
    max-width: 587px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    color: var(--mainTextColor);
  }

  &__title {
    font-size: 20px;
  }

  &__btnAddNewMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    padding: 5px;
    transition: background-color 150ms linear;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--mainTextColor);
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: var(--backgroundHoverColor);
    }
  }
}
