.messageCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px 16px 10px;
  gap: 10px;
  transition: background-color 150ms linear;
  text-decoration: none;
  cursor: pointer;

  &::after {
    right: 0;
    width: 0;
    height: auto;
    margin: -20px -30px -16px 0;
    background-color: var(--accentColorBg);
    content: '';

    @media (width < 500px) {
      margin: -13px 0;
    }
  }

  &.active {
    background-color: var(--backgroundHoverColor);

    &::after {
      width: 3px;
    }
  }

  @media (width < 500px) {
    padding: 13px 0 13px 8px;
    gap: 6px;
  }

  &__img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    background-color: var(--accentColorBg);

    &--letter {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--reverseTextColor);
      text-transform: uppercase;
    }
  }

  &__title {
    max-width: 110px;
    margin-right: 8px;
    color: var(--mainTextColor);
    font-family: 'Roboto-Bold';
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__login {
    max-width: 100px;
    color: var(--textColorSecondary);
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (width < 450px) {
      display: none;
    }
  }

  &__date {
    color: var(--textColorSecondary);
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &::before {
      margin: 0 6px;
      color: var(--textColorSecondary);
      font-weight: 900;
      content: '·';
    }
  }

  &__lastMessage {
    color: var(--textColorSecondary);
    font-size: 15px;
  }
}

.messageCardSearch {
  &.active {
    background-color: transparent;

    &::after {
      width: 0;
    }
  }
}

.userMessageCard__wrapper {
  position: relative;
}

.messageCard__textWrapper {
  width: calc(100% - 40px);
}