
.modalPost__input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: var(--backgroundColor);
    color: var(--mainTextColor);
    font-size: 15px;
}