.list {
  margin-top: -15px;
}

.list__item {
  position: relative;
  margin: 5px 0;
  list-style: none;
}

.list__navItem {
  display: block;
  border-radius: 50px;
  color: var(--mainTextColor);
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.iconStyle {
  font-size: 25px;
}

.list__navItemText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (width < 1310px) {
    display: none;
  }
}

.list__navItemTitle {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 8px 25px 8px 15px;
  transition: background-color 150ms linear;
  border-radius: 30px;

  @media (width < 1310px) {
    padding: 8px;
    border-radius: 50%;
  }
}

.list__navItem:hover .list__navItemTitle {
  background-color: var(--backgroundHoverColor);
}

.list__navItemText--bold {
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (width < 1310px) {
    display: none;
  }
}

.newMessage__header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 160px;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--accentColorBg);
  color: var(--reverseTextColor);
  font-size: 18px;

  &--little {
    font-size: 16px;
  }

  @media (width < 1310px) {
    top: -5px;
    right: -5px;
    left: auto;
    width: 24px;
    height: 24px;
    font-size: 14px;

    &--little {
      width: 26px;
      height: 26px;
      font-size: 12px;
    }
  }
}