
.repostedUserData__wrapper {
  position: absolute;
  top: 25px;
  left: -45px;
  width: 250px;
  padding: 12px 16px;
  border-radius: 20px;
  background-color: var(--backgroundColor);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  z-index: 10;
}

.repostedUserData__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  font-size: 20px;

  &--text {
    font-size: 15px;
    text-transform: uppercase;
  }
}

.repostedUserData__img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.repostedUserData__flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.repostedUserData__name {
  color: var(--mainTextColor);
  font-family: 'Roboto-Medium';
  font-size: 16px;
  text-align: center;
}

.repostedUserData__bio {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

.profileInfo__date {
  margin-bottom: 15px;
  color: var(--textColorSecondary);
  font-family: 'Roboto-Regular';
  font-size: 14px;
}

.profileInfo__follow {
  font-size: 15px;
}