.skeleton {
  margin: 6px 0;
  border-radius: 4px;
  background-color: var(--backgroundHoverColor);
}

.text {
  width: 100%;
  height: 17px;
}

.title {
  width: 100%;
  height: 30px;
  margin-bottom: 12px;
}

.titleShort {
  max-width: 200px;
  height: 30px;
}

.textShort {
  width: 150px;
  height: 17px;
}

.img {
  width: 100%;
  max-width: 516px;
  height: 270px;
  border-radius: 20px;
}

.avatar {
  width: 138px;
  height: 138px;
  border: 2px solid var(--reverseTextColor);
  border-radius: 50%;
}

.avatarLittle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.banner {
  width: 100%;
  height: 200px;
}

.btn {
  width: 100px;
  height: 36px;
}

.shimmer__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.shimmer {
  width: 50%;
  height: 100%;
  transform: skewX(-20deg);
  background-color: var(--backgroundColor);
  opacity: .1;
  animation: loading 1.5s infinite;

  @keyframes loading {
    0% {
      transform: skewX(-20deg) translateX(-150%);
    }

    50% {
      transform: skewX(-20deg) translateX(-60%);
    }

    100% {
      transform: skewX(-20deg) translateX(150%);
    }
  }
}