.main-pages {
  display: flex;
  background-color: #0f1419;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 13%;
 
  &__title {
    margin-bottom: 20px;
    color: rgb(231, 233, 234);
    font-size: 64px;
    font-weight: 700;
  }

  &__subtitle {
    margin-bottom: 35px;
    color: rgb(231, 233, 234);
    font-size: 36px;
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    .google-btn {
      margin-bottom: 15px;
    }

    &-or {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      color: rgb(231, 233, 234);

      &::before,
      &::after {
        display: inline-block;
        width: 7.9em;
        height: 1px;
        background-color: rgb(113, 118, 123);
        content: '';
        opacity: .5;
      }

      &::before {
        margin-right: 10px;
      }

      &::after {
        margin-left: 10px;
      }
    }

    .register-btn {
      margin-bottom: 10px;
      border: 1px solid aqua;
      background-color: #0f1419;
      color: rgb(231, 233, 234);
    }

    &-text {
      max-width: 300px;
      margin-bottom: 20px;
      color: var(--textColorSecondary);
      font-size: 11px;
      font-weight: 400;
      line-height: 12px;
    }

    &-title {
      margin-bottom: 15px;
      color: rgb(231, 233, 234);
    }

    .login-btn {
      transition: background-color .5s;
      transition: all .3s ease;
      border: 1px solid aqua;
      background-color: var(--backgroundColor);
      color: rgb(231, 233, 234);

      &:hover {
        border: none;
        background-color: rgba(0, 128, 128, .5);
        color: black;
        box-shadow: 0 0 5px rgba(0, 128, 128, .5), 0 0 15px rgba(0, 128, 128, .5), 0 0 20px rgba(0, 128, 128, .5), 0 0 25px rgba(0, 128, 128, .5), 0 0 35px rgba(0, 128, 128, .5);
      }
    }
  }
}
