.follow__missingTitle {
  margin-bottom: 20px;
  color: var(--mainTextColor);
  font-family: 'Roboto-Medium';
  font-size: 31px;
}

.follow__missingText {
  color: var(--textColorSecondary);
  font-size: 16px;
}

.follow__missingWrapper {
  max-width: 330px;
  margin: 30px auto;
  padding: 0 10px;
}