.reset__password {
  height: 100vh;
  margin: 0 auto;
  padding: 0 80px;
}

.modal__text {
  margin: 20px 0;
  padding: 0 80px;
  text-align: center;
  h1 {
    color: var(--mainTitleColor);
  }
}

.form {
  padding: 0 80px;
  text-align: center;

  .form-group {
    position: relative;
    margin-bottom: 10px;

    input {
      width: 400px;
      height: 70px;
      margin-bottom: 200px;
      padding: 12px 20px;
      border: 1px solid aqua;
      border-radius: 5px;
      outline: none;
      background: transparent;
      color: rgb(19, 17, 17);

      &::placeholder {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
        transition: top 3ms, font-size 3ms;
        color: #808080;
      }
    }

    input:focus,
    input:not(:placeholder-shown) {
      &::placeholder {
        color: var(--mainTitleColor);
        font-size: 11px;
      }
    }
  }
}

.modalBtnUse {
  width: 400px;
  border: 1px solid aqua;
  color: var(--mainTitleColor);
  background-color: var(--backgroundColor);
  &:hover {
    border: 2px solid aqua;
    box-shadow: 0 0 20px;
    background-color: var(--backgroundHoverColor);
  }
}
.success-message {
  text-align: center;
  padding: 0 40px;
}
.backBtn {
  width: 400px;
  margin: 15px;
  border: 1px solid aqua;
  background-color: var(--backgroundColor);
  color: var(--mainTitleColor);
  text-align: center;
  &:hover {
    border: 2px solid aqua;
    background-color: var(--backgroundHoverColor);
    box-shadow: 0 0 20px;
  }
}
.error-message {
  color: var(--mainTitleColor);
  font-size: 25px;
}
