.reset__password {
  height: 100vh;
  margin: 0 auto;
  padding: 0 80px;
}

.modal__text {
  margin: 20px 0;
  padding: 0 80px;
  text-align: center;

  h1 {
    color: var(--mainTitleColor);
  }

  h1 {
    color: var(--mainTitleColor);
  }
}

.form {
  padding: 0 80px;
  text-align: center;

  .form-group {
    position: relative;
    margin-bottom: 10px;

    input {
      width: 400px;
      height: 70px;
      margin-bottom: 200px;
      padding: 12px 20px;
      border: 1px solid aqua;
      border-radius: 5px;
      outline: none;
      color: rgb(19, 17, 17);

      &::placeholder {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
        transition: top 3ms, font-size 3ms;
        color: #808080;
      }
    }

    input:focus,
    input:not(:placeholder-shown) {
      &::placeholder {
        color: var(--mainTitleColor);
        font-size: 11px;
      }
    }
  }
}

.modalBtnUse {
  width: 100%;
  min-width: 0;
  min-height: 0;
  margin: 20px 0;
  transition: background-color 5ms;
  transition: all 3ms ease;
  border: 1px solid aqua;
  background-color: #fff;
  color: var(--mainTitleColor);

  &:hover {
    background-color: rgba(0, 128, 128, 0.5);
    color: var(--mainTitleColor);
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
  }
}

.success-message {
  padding: 0 40px;
  text-align: center;
}

.backBtn {
  width: 400px;
  margin: 15px;
  border: 1px solid aqua;
  background-color: #015366;
  color: var(--mainTitleColor);
  text-align: center;

  &:hover {
    border: 2px solid aqua;
    background-color: #015366;
    box-shadow: 0 0 20px;
  }
}

.error-message {
  color: var(--mainTitleColor);
  font-size: 25px;
}
