.reset__password {
  height: 100vh;
  margin: 0 auto;
  padding: 0 80px;
}

.modal__text {
  margin: 20px 0;
  padding: 0 80px;
  text-align: center;
}

.form {
  padding: 0 80px;
  text-align: center;

  .form-group {
    position: relative;
    margin-bottom: 80px;

    // text-align: center;
    input {
      width: 400px;
      height: 70px;
      margin-bottom: 200px;
      padding: 12px 0;

      &::placeholder {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
        transition: top 0.3s, font-size 0.3s;
        color: #808080;
      }
    }

    input:focus,
    input:not(:placeholder-shown) {
      &::placeholder {
        font-size: 10px;
        color: blue;
      }
    }
  }
}

.modalBtnUse {
  width: 400px;
  background-color: var(--placeholderColor);
}
