.title__reset {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--mainTitleColor);
}

.form-reset {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    input {
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
    }

}

.success-message {
    padding-top: 30px;
    font-size: 25px;

}