.bookmarksWrapper {
  max-width: 1320px;
  margin: 0 auto;

  @media (width < 1310px) {
    max-width: 1056px;
  }

  @media (width < 1120px) {
    max-width: 980px;
  }

  @media (width < 1030px) {
    max-width: 677px;
  }
}

.bookmarks__title {
  padding: 16px;
  border: none;
  border-bottom: 1px solid var(--backgroundHoverColor);
  background-color: transparent;
  color: var(--mainTextColor);
  font-family: "Roboto-Bold";
  font-size: 14px;
}

.bookmarksMain {
  display: flex;
  max-width: 1050px;
  margin-left: 270px;

  @media (width < 1310px) {
    margin-left: 90px;
  }
}

.noBookmarks__wrapper {
  max-width: 35rem;
  margin: 0 auto;
  padding: 32px;
}

.noBookmarks__title {
  color: var(--mainTextColor);
  font-family: 'Roboto-Medium';
  font-size: 31px;
  line-height: 30px;
}

.noBookmarks__text {
  margin-top: 20px;
  color: var(--textColorSecondary);
  font-size: 15px;
}

.skeletonPosts__wrapper {
  margin: 0;
  padding: 0 20px;
}