.bookmarksWrapper {
  max-width: 1320px;
  margin: 0 auto;

  @media (width < 1310px) {
    max-width: 1056px;
  }

  @media (width < 1120px) {
    max-width: 980px;
  }

  @media (width < 1030px) {
    max-width: 677px;
  }
}

.bookmarks__title {
  padding: 16px;
  border: none;
  background-color: transparent;
  font-family: "Roboto-Bold";
  color: var(--mainTextColor);
  font-size: 14px;
}

.bookmarksMain {
  display: flex;
  max-width: 1050px;
  margin-left: 270px;

  @media (width < 1310px) {
    margin-left: 90px;
  }
}
