.delChat__infoHeaderBtn {
  position: absolute;
  top: -2px;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delChat__icon {
  padding: 5px;
  color: var(--mainTextColor);
  font-size: 26px;
}