.modal__body-auth {
  position: relative;
  max-width: 300px;
  padding: 16px;
  background-color: #0f1419;
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  transition: opacity 300ms;
  opacity: 1;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  transition: opacity 300ms;
  opacity: 0;
}

.login__error {
  position: absolute;
  top: 80px;
  color: #ff4a4f;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}