.modal__body-login {
  max-width: 300px;
  padding: 16px;
  background-color: #0f1419;
  animation: fadeIn .9s;

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  transition: opacity 300ms;
  opacity: 1;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  transition: opacity 300ms;
  opacity: 0;
}
