.notification__wrapper{
    display: flex;
    padding: 10px;
    gap: 15px;
    border-bottom: black 1px solid;
    position: relative;
    
    &>svg{
        width: 25px;
        height: 25px;
    }
}
.notification__heart{
    fill: rgb(249, 24, 128);
}
.notification__repost{
    fill: rgb(0, 186, 124);
    height: 30px!important
}

