.recommendUsers__list {
  border-radius: 15px;
  background-color: var(--backgroundHoverColorLight);
}

.recommendUsers__list--noFixed {
  max-height: 80vh;
  border-radius: 15px;
  background-color: var(--backgroundHoverColorLight);
  overflow: auto;
}

.recommendUsers__title {
  padding: 12px 16px;
  color: var(--mainTextColor);
  font-family: "Roboto-Regular";
  font-size: 20px;
}

.sidebarWrapper {
  padding: 20px 0;
}

.sidebar__title {
  margin-bottom: 20px;
  padding: 0 12px;
  font-family: "Roboto-Regular";
  color: var(--mainTextColor);
  font-size: 26px;
}
