.recommend {
  &__img {
    width: 60px;
    height: 46px;
    border-radius: 15px;
    object-fit: cover;
  }

  &__list {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
    color:var(--mainTextColor);
  }

  &__btn {
    text-align: center;
  }

  &__placeholder{
    width: 60px;
    height: 46px;
    border-radius: 15px;
    background-color: rgb(168, 164, 164);
  }
}