.contentCard__infoHeaderBtn {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contentCard__icon {
  padding: 5px;
  color: var(--mainTextColor);
  font-size: 26px;
}