.notification__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.notification__text-wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 5px;
}
.notification__post-wrapper{
  grid-row: 2;
  grid-column: span 2;
}

.notification__follower-name {
  color: black;
  font-size: 15px;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.notification__reaction {
  width: 100%;
  font-weight: 400;
}

.notification__reaction--subscription {
  display: flex;
  justify-content: space-around;
}

.notification__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification__text {
  color: rgb(185, 202, 211);
  font-size: 15px;
}

.notification__btn {
  width: fit-content;
  padding: 0;
  border: none;
  background: none;
  color: rgb(29, 155, 240);
}

.notification__btn:hover {
  text-decoration: underline;
}