.skeletonPost__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  width: 100%;
}

.skeletonPost__content {
  max-width: 510px;
  margin-top: -20px;
  margin-left: 45px;
}

.skeletonPost__wrapper {
  position: relative;
  max-width: auto;
  margin: 20px 0;
  overflow: hidden;
}
