.skeletonPost__flex {
  display: flex;
  gap: 20px;
}

.skeletonPost__content {
  max-width: 520px;
  margin-left: auto;
}

.skeletonPost__wrapper {
  position: relative;
  margin: 30px 0;
  overflow: hidden;
}