.modal__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .353);
}

.modal__body {
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  max-height: 650px;
  padding: 0 16px 16px;
  border-radius: 16px;
  background-color: var(--backgroundColor);
  overflow-y: auto;
}

.modal__crossBtn {
  padding: 5px;
  transition: background-color 150ms linear;
  border-radius: 50%;
  font-size: 32px;
  cursor: pointer;

  &:hover {
    background-color: var(--backgroundHoverColor);
  }
}

.modal__btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  max-width: 568px;
  padding-top: 16px;
  background-color: var(--backgroundColor);
  color: var(--mainTextColor);
}

.modal__draftsBtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--accentColorText);
  font-family: 'Roboto-Medium';
  font-size: 14;
}