.userData__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 25px;
}

.userData {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
}