.userData__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 25px;
}

.userData {
  display: flex;
  justify-content: space-between;
}

.btn__open {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--mainTextColor);

  @media (width < 1310px) {
    display: none;
  }
}

.userData__screensaver {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accentColorBg);
  color: var(--reverseTextColor);
}

.userData__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
  object-fit: cover;
}

.userData__name,
.userData__email {
  max-width: 150px;
  padding: 0 10px;
  color: var(--mainTextColor);
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.userData__name {
  font-family: 'Roboto-Bold';
}

.userData__info {
  @media (width < 1310px) {
    display: none;
  }
}