.pageNoPosts__title {
  margin: 20px 0;
  color: var(--mainTextColor);
  font-family: 'Roboto-Regular';
  font-size: 30px;
  text-align: center;
}

.pageNoPosts__text {
  padding: 0 30px;
  color: var(--textColorSecondary);
  font-size: 20px;
  text-align: center;
}