.navigateList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid var(--boxShadowColor);

  @media (width < 500px) {
    height: 40px;
  }
}

.navigateList__item {
  flex-grow: 1;
  height: 52px;
  transition: background-color 150ms linear;
  font-family: 'Roboto-Medium';
  font-size: 15px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: var(--backgroundHoverColor);
  }

  @media (width < 500px) {
    height: 40px;
    font-size: 13px;
  }
}

.navigateList__link {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  color: var(--textColorSecondary);
  line-height: 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 4px;
    transform: translateX(-50%);
    transition: width 200ms linear;
    border-radius: 8px;
    background-color: var(--accentColorBg);
    content: '';
  }

  &.active {
    color: var(--mainTextColor);

    &::after {
      width: 60%;
    }
  }

  @media (width < 500px) {
    padding: 10px;
  }
}
