.profileHeader {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 35px;
}

.profileInfo {
  padding: 12px 16px;
}

.profile__banner {
  width: 100%;
  height: 200px;
  background-color: var(--backgroundHoverColor);
}

.profile__bannerImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.profile__userScreensaver {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  border: 4px solid white;
  border-radius: 50%;
  color: var(--reverseTextColor);
  font-size: 50px;
  text-transform: uppercase;

  @media (width < 500px) {
    width: 112px;
    min-width: 112px;
    height: 112px;
    min-height: 112px;
  }
}

.profile__screensaver {
  width: 138px;
  min-width: 138px;
  height: 138px;
  min-height: 138px;
  border: 2px solid var(--reverseTextColor);
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;

  @media (width < 500px) {
    width: 110px;
    min-width: 110px;
    height: 110px;
    min-height: 110px;
  }
}

.profileInfo__photoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.profile__btn {
  padding: 0 16px;
  transition: background-color 150ms linear;
  border: 1px solid var(--borderColor);
  border-radius: 20px;
  background-color: var(--backgroundColor);
  color: var(--mainTextColor);
  font-family: 'Roboto-Medium';
  font-size: 15px;
  line-height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: var(--backgroundHoverColor);
  }
}

.profileInfo__userName {
  color: var(--mainTextColor);
  font-family: 'Roboto-Bold';
  font-size: 20px;
}

.profileInfo__userMail {
  margin-bottom: 10px;
  color: var(--textColorSecondary);
  font-family: 'Roboto-Light';
  font-size: 15px;
}

.profileInfo__bio,
.profileInfo__date {
  margin-bottom: 15px;
  color: var(--textColorSecondary);
  font-family: 'Roboto-Light';
  font-size: 15px;
}

.profileInfo__date {
  font-family: 'Roboto-Regular';
}

.userProfile__icon {
  margin-right: 7px;
  color: var(--mainTextColor);
}

.followActions__link {
  margin-right: 20px;
  color: var(--textColorSecondary);
  font-size: 14px;
  text-decoration: none;
}

.followActions__number {
  margin-right: 5px;
  font-weight: 600;
}

.profileHeader__btn {
  color: var(--mainTextColor);
  font-size: 30px;
  cursor: pointer;
}

.profileHeader__info {
  color: var(--textColorSecondary);
  font-size: 14px;
}

.profileHeader__title {
  color: var(--mainTextColor);
  font-size: 20px;

  @media (width < 500px) {
    font-size: 16px;
  }
}

.userActions {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.profile__btnLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  margin-right: 20px;
  padding: 5px;
  transition: background-color 150ms linear;
  border: 1px solid var(--backgroundHoverColor);
  border-radius: 50%;
  background-color: transparent;
  color: var(--mainTextColor);
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: var(--backgroundHoverColor);
  }
}

.profileInfo__dateWrapper {
  display: flex;
  gap: 20px;
}