.communities {
  &__header {
    display: flex;
    padding: 15px 16px 0;

    &_title {
      padding-left: 20px;
      font-size: 20px;
    }
  }

  &__item {
    display: flex;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      display: block;
      padding: 10px;
      text-align: center;
    }

    &:hover {
      background-color: var(--backgroundHoverColor);
    }
  }

  &__img {
    width: 160px;
    height: auto;
    margin: 20px;
    border-radius: 20px;

    @media screen and (max-width: 500px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__name {
    margin-top: 20px;
    font-size: 20px;
  }
}

.titlePage {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;

  &__title {
    font-size: 20px;
  }
}