.communities {
  &__header {
    display: flex;
    padding: 15px 16px 0;

    &_title {
      padding-left: 20px;
      color: var(--mainTextColor);
      font-size: 20px;
    }

    &_name {
      color: var(--mainTextColor);
    }
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 450px;
    color: black;
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      display: block;
      padding: 10px;
      text-align: center;
    }
  }

  &__img {
    width: 160px;
    height: 116px;
    margin: 20px;
    border-radius: 20px;
    object-fit: cover;

    @media screen and (max-width: 500px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__name {
    margin-top: 20px;
    color: var(--mainTextColor);
    font-size: 20px;
  }
}

.titlePage {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;

  &__title {
    color: var(--mainTextColor);
    font-size: 20px;
  }

  &__addGroup {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    color: #1d8bf0;
    cursor: pointer;

    &_img {
      width: 100%;
    }
  }
}

.communitiCard {
  display: flex;

  &:hover {
    background-color: var(--backgroundHoverColor);
  }
}

.gray-background {
  width: 160px;
  height: 88px;
  margin: 20px;
  border-radius: 15px;
  background-color: rgb(168, 164, 164);

  @media screen and (max-width: 500px) {
    display: block;
    margin: 0 auto;
  }
}

.delete__communitie {
  max-width: 70px;
  border: none;
  background-color: transparent;
  color: #1d8bf0;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
