body {
  background-color: var(--backgroundColor);
  font-family: "Roboto-Regular";
  overflow-y: scroll;
}

html[data-theme="LIGHT"] {
  --mainTextColor: #0f1419;
  --textColorSecondary: #536471;
  --accentColorText: #1d8bf0;
  --reverseTextColor: #fff;

  --accentColorBg: #1d8bf0;
  --backgroundColor: #ffffff;
  --reverseBackgroundColor: #0f1419;
  --backgroundHoverColor: #d3d3d3;
  --backgroundHoverColorLight: #d3d3d371;
  --accentColorBgLight: #1d8af010;

  --borderColor: #53647147;
  --boxShadowColor: #65778631;
  --placeholderColor: #808080;

  --mainTitleColor: #ff4a4f;
  --backgroundColorOpacity: #ffffff40;

  --hoverIconColorMain: 	#55acee;
  --hoverIconColorGreen: #75ac54;
  --hoverIconColorRed: #ff4a4f;
}

html[data-theme="DARK"] {
  --mainTextColor: #fff;
  --textColorSecondary: #8a8b8b;
  --accentColorText: #1d8bf0;
  --reverseTextColor: #0f1419;

  --accentColorBg: #1d8bf0;
  --backgroundColor: #0f1419;
  --reverseBackgroundColor: #9fbbd3;
  --backgroundHoverColor: #303030be;
  --backgroundHoverColorLight: #30303073;
  --accentColorBgLight: #1d8af030;

  --borderColor: #53647147;
  --boxShadowColor: #6577863b;

  --mainTitleColor: #ff4a4f;
  --backgroundColorOpacity: #0f141940;

  --hoverIconColorMain: 	#55acee;
  --hoverIconColorGreen: #75ac54;
  --hoverIconColorRed: #ff4a4f;
}

html[data-theme="TURQUOISE"] {
  --mainTextColor: #fff;
  --textColorSecondary: #a7d1d2;
  --accentColorText: #8689AC;
  --reverseTextColor: #101116;

  --accentColorBg: #8689AC;
  --backgroundColor: #2F3148;
  --reverseBackgroundColor: #b6b8d7;
  --backgroundHoverColor: #3F5576;
  --backgroundHoverColorLight: #3f557665;
  --accentColorBgLight: #8689ac30;

  --borderColor: #101116;
  --boxShadowColor: #6577863b;

  --mainTitleColor: #ff4a507b;
  --backgroundColorOpacity: #03354040;

  --hoverIconColorMain: 	#55acee;
  --hoverIconColorGreen: #75ac54;
  --hoverIconColorRed: #ff4a508d;
}

html[data-theme="BLUE"] {
  --mainTextColor: #e4e5ea;
  --textColorSecondary: #d2d2d4;
  --accentColorText: #6b99c3;
  --reverseTextColor: #0c151c;

  --accentColorBg: #6b99c3;
  --backgroundColor: #16354d;
  --reverseBackgroundColor: #d2d2d4;
  --backgroundHoverColor: #0c151c68;
  --backgroundHoverColorLight: #0c151c2a;
  --accentColorBgLight: #1d8af030;

  --borderColor: #d2d2d468;
  --boxShadowColor: #6577863b;

  --mainTitleColor: #ff4a4f;
  --backgroundColorOpacity: #16354d40;

  --hoverIconColorMain: 	#55acee;
  --hoverIconColorGreen: #75ac54;
  --hoverIconColorRed: #ff4a4f;
}

html[data-theme="BUBBLEGUM"] {
  --mainTextColor: rgb(71, 68, 68);
  --textColorSecondary: #1f7944;
  --accentColorText: #6b99c3;
  --reverseTextColor: #3a4b3a;

  --accentColorBg: #a692cc;
  --backgroundColor: rgb(221, 203, 220);
  --reverseBackgroundColor: #3a3612;
  --backgroundHoverColor: #aff5cfde;
  --backgroundHoverColorLight: #0c151c2a;
  --accentColorBgLight: #a692cc5d;

  --borderColor: #d2d2d468;
  --boxShadowColor: #18d331;

  --mainTitleColor: #ff4a4f;
  --backgroundColorOpacity: #16354d40;

  --hoverIconColorMain: 	#1393f5;
  --hoverIconColorGreen: #4cc505;
  --hoverIconColorRed: #ff0911;
}

/* colors for users avatar */

.colorLetterFirst {
  background-color: #C0587E;
  color: #ffffff;
  text-transform: uppercase;
}

.colorLetterSecond {
  background-color: #009999;
  color: #ffffff;
  text-transform: uppercase;
}

.colorLetterThird {
  background-color: #002E3F;
  color: #ffffff;
  text-transform: uppercase;
}

.colorLetterFourth {
  background-color: #7c85ef;
  color: #ffffff;
  text-transform: uppercase;
}

.colorLetterFifth {
  background-color: #306E7B;
  color: #ffffff;
  text-transform: uppercase;
}

.colorOther{
  background-color: #BC2041;
  color: #ffffff;
  text-transform: uppercase;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--mainTextColor);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fcfcff68;
  
}

::-webkit-scrollbar-thumb {
  background: #000000a1;
  border-radius: 8px;
 
}

::-webkit-scrollbar-thumb:hover {
  background: #000000c1;
}
