.btnLoadMore {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColorSecondary);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:active{
    transform: scale(1.04);
  }
  &:hover {
    color: var(--mainTextColor);
  }
}