.wrapper {
  max-width: 1247px;
  margin: 0 auto;

  @media (width < 1310px) {
    max-width: 1056px;
  }

  @media (width < 1120px) {
    max-width: 980px;
  }
  
  @media (width < 1030px) {
    max-width: 677px;
  }
}