.wrapper {
  display: flex;
  max-width: 1247px;
  margin: 0 auto;

  @media (width < 1310px) {
    max-width: 1056px;
  }

  @media (width < 1120px) {
    max-width: 980px;
  }

  @media (width < 1030px) {
    max-width: 677px;
  }
}

.mainStyle {
  display: flex;
  width: 990px;
  margin-left: 270px;

  @media (width < 1440px) {
    width: 940px;
  }

  @media (width < 1310px) {
    margin-left: 90px;
  }

  @media (width < 500px) {
    margin-left: 66px;
  }
}

.mainRibbon {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  box-shadow: 0 0 10px var(--boxShadowColor), 0 0 1px 1px var(--boxShadowColor);
}

.sidebarColumn {
  flex-grow: 1;
  min-height: 200vh;
  padding-left: 10px;

  @media (width < 1120px) {
    max-width: 290px;
  }

  @media (width < 1030px) {
    display: none;
  }
}