.media__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-bottom: 30px;
}

.media__img {
  height: 190px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}