.modalBtn {
  background-color: rgb(29, 155, 240);
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto-Medium";
  font-size: 17px;
  height: 52px;
  outline: none;
  padding: 0 32px;
  text-transform: capitalize;
}
