.modalBtn {
  min-width: 52px;
  height: 52px;
  padding: 5px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: var(--accentColorBg);
  color: var(--reverseTextColor);
  font-family: "Roboto-Medium";
  font-size: 17px;
  cursor: pointer;
}