.modalBtn {
  min-width: 52px;
  min-height: 52px;
  padding: 5px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: rgb(29, 155, 240);
  color: #fff;
  font-family: "Roboto-Medium";
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}