.popupBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.popup,
.popupRight {
  position: absolute;
  left: -4px;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--backgroundColor);
  color: var(--mainTextColor);
  box-shadow: 0 0 15px var(--boxShadowColor), 0 0 3px 1px var(--boxShadowColor);
  overflow: hidden;
  animation: openPopup 1s;
  z-index: 2;

  @keyframes openPopup {
    0% {
      max-height: 30px;
    }

    100% {
      max-height: 350px;
    }
  }
}

.popup--width {
  position: absolute;
  left: -4px;
  width: 100%;
  margin-top: -50px;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--backgroundColor);
  color: var(--mainTextColor);
  box-shadow: 0 0 15px var(--boxShadowColor), 0 0 3px 1px var(--boxShadowColor);
  overflow: hidden;
  animation: openPopup 1s;
  z-index: 2;

  @keyframes openPopup {
    0% {
      max-height: 30px;
    }

    100% {
      max-height: 350px;
    }
  }
}

.popupRight {
  right: 0;
  left: auto;
  margin-top: -25px;
}

.chooseTheme__label,
.changePassword {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  white-space: nowrap;
}

.popupSettings__wrapper {
  position: absolute;
  width: 360px;
}

.chooseTheme__select {
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: var(--backgroundColor);
  color: var(--mainTextColor);
  font-size: 18px;
  cursor: pointer;
}

.chooseTheme__option {
  font-size: 22px;
  text-align: center;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.btnPopup {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--mainTextColor);
  cursor: pointer;

  &--big {
    padding: 5px 20px;
    font-family: 'Roboto-Bold';
    font-size: 18px;
  }
}

.chooseElemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.popupPost__list {
  font-family: 'Roboto-Bold';
  font-size: 15px;
  text-align: start;
}

.popupPost__item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 16px;
}

.popupPost__itemText {
  width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  &--noWrap {
    width: auto;
    white-space: nowrap;
  }
}

.popupPost__icon {
  width: 20px;
  font-size: 20px;

  &--red {
    color: var(--hoverIconColorRed);
  }

  &--green {
    color: var(--hoverIconColorGreen);
  }
}

.popupSidebar__text {
  padding: 0 10px;
  color: var(--textColorSecondary);
  font-size: 18px;
  text-align: center;
}

.popupDelChat {
  position: absolute;
  top: 60px;
  right: -45px;
  width: 200px;
}

.popupDelChat__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--hoverIconColorRed);
  font-size: 14px;
}

.popupDelChat__icon {
  font-size: 12px;
}

.popupLogOut__wrapper {
  position: absolute;
  bottom: 18px;
  width: 250px;
}

.popupRepost__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
}

.changePassword {
  color: var(--mainTextColor);
  font-size: 18px;
  text-decoration: none;
}

.popupClass__width {
  width: 100%;
}

.popupSettings__icon {
  font-size: 22px;
}