.bookmarksSection {
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 0 10px var(--boxShadowColor), 0 0 1px 1px var(--boxShadowColor);

  @media (width < 1030px) {
    max-width: 587px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    color: var(--mainTextColor);
  }

  &__title {
    font-size: 20px;
  }
}

.bookmarksSidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border-right: 1px solid var(--boxShadowColor);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 336px;
  }
}
